// Custom styles.

pre {
  padding: 4px 8px;
}

h3#esther {
  display: none;
}
h3#esther + p {
  margin: 24px 0;
  padding: 24px;
  color: #757575;
  border-radius: 5px;
  background-color: #FAFAFA;
  position: relative;
}
h3#esther + p::before {
  content: '“';
  font-family: Arial;
  font-weight: bold;
  font-size: 120px;
  position: absolute;
  top: -14px;
  left: 4px;
  color: #EEEEEE;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 80px;
}
strong {
  border-bottom: 3px solid #ffd500;
}
em {
  font-weight: bolder;
  font-style: inherit;
}

.menu .menu-item a {
  color: #666;
}
.highlight figcaption {
  padding: 10px 10px 0;
  color: #666
}

.sidebar {
  background-color: #ccc;
  box-shadow: 0 3px 4px #bbb;
}
